body {

    background-color: #EAFFFF;
    
    }
    h1 {
        text-align: center;
        font-family: Brush Script MT;
        font-size: 80px;
      }
      section#Biography {

        border-color: brown;
        border-style: none;
        border-width: 3px;
        
        }
        li.odd {
            background-color: white;
            border-style: solid;
            height: 23px;
            width: 22%;

        }
            
            

    